.contactModal{
    display: flex;
    position: absolute;
    padding: 30px;
    width: 30%;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px rgb(245, 233, 233);
    background-color: white;
    left:45%;
    top:21%;
    align-items: center;
}
.closeButton{
    position:absolute;
    left:96%;
    top:0px;
    border: none;
    padding: 3px;
}